.recipes {
  color: #fff;
  background-color: #0a2750;
  padding: 100px 80px 215px;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.recipes__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  color: #fff;
  max-width: 580px;
  line-height: 52px;
  margin-bottom: 24px;
}

.recipes__subtitle {
  font-family: "Noto Seriff";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  max-width: 438px;
  line-height: 30px;
  margin-bottom: 80px;
}

.recipes__videos {
  display: flex;
  margin: 0;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding: 0;
}

.recipes__iframe {
  border: none;
  width: 560px;
  height: 315px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
}
